extends layout.pug

block content 

    h1="New Book"

    h2.error=`${error ? 'Oooops!' : ''}`
      ul 
        each error in errors
          li.error=error.message

    form(action="/books/add-book", method="post")
      include form